<style>
* {
  box-sizing: border-box;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

.first-txt {
    position: absolute;
    top: 17px;
    right: 100px;
    color: aliceblue;
    font-size: 700%;
}

<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(235, 233, 189);
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:hover{
    background-color: ;
}

input[type=submit] {
  width: 100%;
  background-color: #db3434;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: 	#FAF0E6;
  padding: 20px;
}
MOVIES{
    text-shadow: 	#808080;
}
</style>
<body>